{% extends 'layout.html' %}

{% block body %}

<div class="row ">
<div class="card col-6" style="width: 70rem;">
    <div class="card-header">
      İletişim Adreslerim
    </div>
    <ul class="list-group list-group-flush">
      <a href="#"><li  class="list-group-item">İnstagram</li></a>
      <a href="#"><li class="list-group-item">Twitter</li></a>
      <a href="#"><li class="list-group-item">Linkedin</li></a>
      <a href="#"><li class="list-group-item">Gmail</li></a>
      <a href="#"><li class="list-group-item">Github</li></a>
      <a href="#"><li class="list-group-item">Facebook</li></a>
    </ul>
  </div>


  <div class="card col-6" style="width: 18rem;">
    <img src="/media/xawDTKHO_2x.jpg" class="card-img-top" alt="...">

  </div>

</div>
{% endblock body %}