{% extends 'layout.html' %}

{% block body %}




<blockquote class="blockquote text-center">
  <p class="mb-0">"Aferin Furkan çalışmaya devam et."</p>
  <footer class="blockquote-footer"><cite title="Source Title">Nihat Hocam</cite></footer>
</blockquote>






<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/media/ege1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ege Üni. Bergama MYO</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/media/ege2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ege Üni. Bergama MYO</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/media/ege3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ege Üni. Bergama MYO</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Furkan Bakır
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
          <div class="card col-6" style="width: 18rem;">
              <img src="/media/xawDTKHO_2x.jpg" class="card-img-top" alt="...">
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Şenol Güneş
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Melih Esen
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Enes Tuksal
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Ferhat Saygın
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Ahmet Kaplan
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Arda Güler
          </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          <p>Bilgisayar Programcılığı</p>
          <p>2. sınıf</p>
          <p>22 yaşında</p>
        </div>
      </div>
    </div>
  </div>



<br><br><br><br><br>


<H3>Burası DB'e Resim Yükleme Alanıdır.</H3>

<form method="POST" enctype="multipart/form-data" class="my-form">
{% csrf_token %}
<div class="form-group">
    <label for="id_resim">Resim Seçin:</label>
    <input type="file" id="id_resim" name="resim" class="form-control-file">
</div>
<button type="submit" class="btn btn-primary">Gönder</button>
</form>


{% endblock body %}